body {
    background: #f5f7fa;
    font-family: 'Poppins', sans-serif;
}


/* Navbar */

.navbar-brand {
    font-size: 22px;
}


/* Cards */

.card {
    border-radius: 18px;
    border: none;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}


/* Section Heading */

.card h4 {
    color: #198754;
    font-weight: 600;
}


/* Inputs */

.form-control,
.form-select {

    border-radius: 12px;
    padding: 12px;

}


.form-control:focus,
.form-select:focus {

    border-color: #198754;
    box-shadow: 0 0 0 .2rem rgba(25,135,84,.15);

}


/* Price */

.price {

    color:#198754;
    font-size:22px;
    font-weight:700;

}


/* Result Box */

#grand_total {

    font-size:28px;
    font-weight:700;
    color:#198754;

}


/* Reset Button */

.btn-danger {

    border-radius:12px;
    padding:12px;
    font-weight:500;

}


/* Responsive */

@media(max-width:768px){

    .container{

        padding-left:15px;
        padding-right:15px;

    }


    h1{

        font-size:28px;

    }


}